/* ------------------- БАЗОВЫЕ СТИЛИ ------------------- */

/* cuprum-regular - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum-v11-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v11-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-italic - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprum-v11-cyrillic_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v11-cyrillic_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-700 - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprum-v11-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v11-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
}

a {
  text-decoration: none;
}







/* ------------------- КОМПОНЕНТЫ ------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.text {
  font: 400 13px/24px "PT Sans", sans-serif;
  color: #000000;
}

.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.title--dark {
  color: #000000;
}

.title--colored {
  color: #32425c;
}

.title--blocked {
  padding: 34px 30px;
}

.index-page .title--blocked {
  background-color: #f9f5f0;
}

.catalog-page .title--blocked {
  background-color: #f2f6f8;
}

.button {
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.button--action {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.button--action:hover,
.button--action:focus {
  background-color: #ca2c37;
}

.button--action:active {
  background-color: #ba2732;
}

.button--transparent {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
}

.button--transparent:hover,
.button--transparent:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.button--transparent:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button--buy {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.button--buy:hover,
.button--buy:focus {
  background-color: #5fbb2d;
}

.button--buy:active {
  background-color: #518534;
  box-shadow: none;
}

.button--like {
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  box-shadow: inset 0 0 0 3px #63a63e;
  background-color: #ffffff;
}

.button--like:hover,
.button--like:focus {
  box-shadow: inset 0 0 0 3px #32425c;
}

.button--like:active {
  color: rgba(50, 66, 92, 0.3);
  box-shadow: inset 0 0 0 3px #c1c6ce;
}

.radiocheck-label {
  color: #000000;
  font: 400 15px/20px "PT Sans", sans-serif;
  text-transform: uppercase;
}

.radiocheck-input:disabled + .radiocheck-label {
  color: rgba(0, 0, 0, 0.4);
}

.catalog-head {
  background-color: #f7f3ec;
}

.catalog-head__title {
  color: #000000;
  font: 400 13px/18px "PT Sans", sans-serif;
  text-transform: uppercase;
}

.catalog-head__sort-list {
  list-style: none;
}

.catalog-head__sort-button {
  position: relative;
  padding: 0;
  color: rgba(0, 0, 0, 0.18);
  font: 400 13px/18px "PT Sans", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.catalog-head__sort-button:not(.catalog-head__sort-button--active)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted #ee3643;
}

.catalog-head__sort-button:not(.catalog-head__sort-button--active):hover,
.catalog-head__sort-button:not(.catalog-head__sort-button--active):focus {
  color: #000000;
}

.catalog-head__sort-button:not(.catalog-head__sort-button--active):hover::after,
.catalog-head__sort-button:not(.catalog-head__sort-button--active):focus::after {
  border-bottom: 1px solid #ee3643;
}

.catalog-head__sort-button--active {
  color: #ee3643;
}

.catalog__list {
  list-style: none;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item__title {
  font: 700 18px/20px "PT Sans", sans-serif;
  color: #000000;
}

.catalog-item__old-price {
  font: 700 17px/18px "PT Sans", sans-serif;
  color: #999999;
}

.catalog-item__price {
  font: 700 17px/18px "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #ee3643;
}

.sticker {
  color: #ffffff;
  font-size: 16px;
  background-color: #ee3643;
}

.header {
  background-color: #f4f7f9;
}

.header__shop-title {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header__phone {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.header__address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.header__user-container ul {
  list-style: none;
}

.header__user-button {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  background-color: #ffffff;
  border: none;
}

.header__user-button:hover,
.header__user-button:focus {
  color: #ee3643;
}

.header__user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__user-link {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.header__user-link:hover,
.header__user-link:focus {
  color: #ee3643;
}

.header__user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__top-panel {
  background-color: #293449;
}

.header__top-panel ul {
  list-style: none;
}

.header__search-input {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;
  border: none;
}

.header__search-input:hover {
  background-color: #212a3a;
}

.header__search-input:focus {
  color: #000000;
  background-color: #ffffff;
}

.header__search-button {
  text-align: center;
  border: none;
  background-color: transparent;
}

.header__search-input::placeholder,
.header__shop-button {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.header__shop-button:hover {
  background-color: #212a3a;
}

.header__shop-button:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header__shop-button--checkout {
  background-color: #63a63e;
}

.header__shop-button--checkout:hover {
  background-color: #5fbb2d;
}

.header__shop-button--checkout:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.main-nav {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-nav__list {
  list-style: none;
}

.main-nav__item {
  color: #ffffff;
}

.main-nav__item:hover,
.main-nav__item:focus {
  background-color: #293449;
}

.main-nav__item:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.breadcrumbs__list {
  list-style: none;
}

.breadcrumbs__item {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs__list-item:hover:not(:last-child) .breadcrumbs__item {
  text-decoration: underline;
}

.about__list {
  list-style: none;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.footer__top-panel {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

.footer__shop-list {
  list-style: none;
}

.footer__shop-list a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer__catalog-list {
  list-style: none;
}

.footer__catalog-list a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer__top-panel a:hover,
.footer__top-panel a:focus {
  text-decoration: underline;
}

.footer__top-panel a:active {
  opacity: 0.5;
}

.footer__bottom-panel {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer__socials-list {
  list-style: none;
}

.footer__socials-item {
  display: flex;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer__socials-item:hover,
.footer__socials-item:focus,
.footer__socials-item:active {
  background-color: #ee3643;
}

.footer__email {
  color: #ffd180;
}

.footer__email:hover,
.footer__email:focus {
  text-decoration: underline;
}

.footer__email:active {
  color: #ee3643;
}

.popular-cats__list {
  list-style: none;
}

.promo-item__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}

.promo-item--materials {
  background: #ffbf47 url("../img/promo-1.svg") right 43px center / 44px no-repeat;
}

.promo-item--tools {
  background: #3bbce3 url("../img/promo-2.svg") right 28px center / 75px no-repeat;
}

.promo-item--machinery {
  background: #dc91d8 url("../img/promo-3.svg") right 31px center / 78px no-repeat;
}

.promo-item--discount {
  background: #8ed78f url("../img/promo-4.svg") right 45px center / 59px no-repeat;
}

.promo-item--delivery {
  background: #ffbf47 url("../img/promo-5.svg") right 31px center / 78px no-repeat;
}

.special-offer__list {
  list-style: none;
}

.slider {
  list-style: none;
}

.slider__header {
  background-color: rgba(0, 0, 0, 0.4)
}

.slider__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}

.slider__subtitle {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.333333;
}

.popular-goods__list {
  list-style: none;
}

.popular-brands__list {
  list-style: none;
}

.popular-brands__list-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.services {
  background-color: #f4f7f9;
}

.tabbed-slider__buttons-list {
  list-style: none;
}

.tabbed-button {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  background-color: #32425c;
  border: none;
}

.tabbed-button:not(.tabbed-button--active):hover,
.tabbed-button:not(.tabbed-button--active):focus {
  background-color: #293449;
}

.tabbed-button--active {
  color: #32425c;
  background-color: #ffffff;
}

.tabbed-slider__title {
  color: #32425c;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}

.tabbed-content {
  background-repeat: no-repeat;
}

.tabbed-content--delivery {
  background-image: url("../img/services-delivery.png");
  background-size: 468px;
  background-position: right 131px bottom 0;
}

.tabbed-content--warranty {
  background-image: url("../img/services-guarantee.png");
  background-size: 389px;
  background-position: right 122px bottom 0;
}

.tabbed-content--credit {
  background-image: url("../img/services-credit.png");
  background-size: 465px;
  background-position: right 120px bottom 0;
}

.pagination__list {
  list-style: none;
}

.pagination__link {
  color: #000000;
  font: 400 13px/18px "PT Sans", sans-serif;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination__link:not(.pagination__link--active):hover,
.pagination__link:not(.pagination__link--active):focus {
  border-color: #bdc6ca;
}

.pagination__link:not(.pagination__link--active):active {
  border-color: #ee3643;
}

.pagination__link--active {
  color: white;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.filter__fieldset {
  border: none;
}

.filter__title {
  color: #000000;
  font: 700 17px/30px "PT Sans", sans-serif;
  text-transform: uppercase;
}

.filter__fieldset-list {
  list-style: none;
}

 .filter__number-input {
  text-align: center;
  color: #000000;
  font: 400 17px/18px "PT Sans", sans-serif;
  background-color: #f7f3ec;
  border: none;
 }
